[data-bs-theme="dark"] {
    --bs-body-bg: #0d1117;
    /* --bs-body-color: #c9d1d9;
    --bs-border-color: #30363d;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
    --bs-link-color: #58a6ff;
    --bs-link-hover-color: #58a6ff;
    --bs-link-hover-decoration: underline;
    --bs-border-radius: 0.5rem;
    --bs-border-radius-sm: 0.25rem; */

    .text-dark {
        color: #dee2e6 !important;
    }

    .bg-theme {
        background-color: #161b22 !important;
    }

}

[data-bs-theme="light"] {
    .bg-theme {
        background-color: #FAFAFA !important;
    }
}

/* #60758a */

.table th, .table td {
    white-space: nowrap;
    vertical-align: middle !important;
}
.table td {
  height: 72px;
}

.pagination .page-item .page-link {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2px;
    color: #111418;
    border: none;
}
.pagination .page-item.active .page-link {
    background-color: #f0f2f5;
    font-weight: bold;
}
.pagination .page-item:not(.active) .page-link:hover {
    background-color: #f0f2f5;
}
.pagination .page-item.disabled .page-link {
    background-color: transparent;
}